.formulario {
    border-radius: 40px;
    background: #ffffff;
    width: 55%;
    height: auto;
    margin: auto;
}

.formulario-campos {
    margin: auto;
}

.titulo-f-r {
    color: #595959;
    font-weight: bold;
    font: normal normal normal 16px/16px Montserrat;
}

.input-f {
    height: 36px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #797070;
    border-radius: 21px;
    opacity: 1;
    outline: none;
    padding: 15px;
    color: #444444;
}
