<div class="">
  <div *ngIf="this.credentials.code == 'SUPER_USER'" class="row" style="margin: auto;">
    <div class="col-lg-3" style="border: 1px solid gainsboro;padding: 20px;border-radius: 10px;">
      <div>
        <div class="text-center">
          <h2>Registre nuevo empleado</h2>
        </div>
        <form [formGroup]="registerForm">
          <div>
            <label class="p-label text" for="exampleInputEmail1">Nombres Completos</label>
            <input formControlName="fullName" type="text" class="form-control form-control-user"
              id="exampleInputEmail1">
          </div>
          <div>
            <label class="p-label" for="exampleInputEmail1">Tipo identificación</label>
            <select formControlName="identificationType" class="form-control cursor">
              <option disabled selected value>Seleccione</option>
              <option class="cursor" *ngFor="let item of identificationType" [ngValue]="item.code">
                {{item.name}}
              </option>
            </select>
          </div>
          <div>
            <label class="p-label" for="exampleInputEmail1">Numero de identificación</label>
            <input formControlName="identificationNumber" type="text" class="form-control" id="exampleInputEmail1">
            <small *ngIf="!resp" class="text-danger">Cedula Invalida</small>
          </div>
          <div>
            <label class="p-label" for="exampleInputEmail1">Correo Electronico</label>
            <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1"
              aria-describedby="emailHelp">
            <small style="color: red;" *ngIf="email.invalid && (email.dirty || email.touched)">
              <mat-error *ngIf="email.errors.required">Email es requerido
              </mat-error>
              <mat-error *ngIf="email.errors.pattern">
                Email invalido
              </mat-error>
            </small>
          </div>
          <div>
            <label class="p-label" for="exampleInputEmail1">Sueldo</label>
            <input formControlName="salary" type="number" class="form-control" id="exampleInputEmail1"
              aria-describedby="emailHelp">
          </div>
          <div>
            <label class="p-label" for="exampleInputEmail1">Departamento</label>
            <select formControlName="department" class="form-control cursor">
              <option disabled selected value>Seleccione</option>
              <option class="cursor" *ngFor="let item of departments" [ngValue]="item.idDepartment">
                {{item.nameDepartment}}
              </option>
            </select>
          </div>
          <div>
            <label class="p-label" for="exampleInputEmail1">Fecha ingreso</label>
            <input class="form-control" type="date" [value]="date" formControlName="date">
          </div>
        </form>
        <br>
        <div class="d-flex justify-content-between align-self-center">
          <button *ngIf="crudValidations.buttonCreate" type="submit" (click)="registerEmployee()"
            class="btn btn-primary">Registrar</button>
          <button *ngIf="crudValidations.buttonUpdate" type="submit" (click)="updateEmployee()"
            class="btn btn-info">Actualizar</button>
          <button (click)="clear()" class="btn btn-success">Limpiar</button>
        </div>
      </div>
    </div>
    <div class="col-lg-9">
      <div>
        <input (keyup)="searchEmployees($event)" type="text" class="form-control input-search" placeholder="Buscar">
      </div>
      <br>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Nombres</th>
            <!--<th scope="col">Tipo identificación</th>-->
            <th scope="col">Numero identificación</th>
            <th scope="col">Sueldo</th>
            <th scope="col">Email</th>
            <th scope="col">Fecha Ingreso</th>
            <th scope="col">Cargo</th>
            <th scope="col">Departamento</th>
            <th scope="col">Accion</th>
          </tr>
        </thead>
        <tbody *ngFor="let employee of employees">
          <tr *ngIf="employee.state == 'ACTIVE' && employee.chargesPresenter.name == 'OPERATOR'">
            <td>{{employee.fullName}}</td>
            <!--<td>{{employee.identificationType}}</td>-->
            <td>{{employee.identificationNumber}}</td>
            <td>${{employee.salary | number : '1.2-2'}}</td>
            <td>{{employee.email}}</td>
            <td>{{employee.date | date:'dd/MMM/yyyy'}}</td>
            <td>{{employee.chargesPresenter.name}}</td>
            <td>{{employee.departmentPresenter.nameDepartment}}</td>
            <td>
              <button (click)="editEmployee(employee)" class="btn btn-info"><i class="fa fa-pencil"></i></button>
              <button (click)="deleteEmploye(employee)" class="btn btn-danger"><i class="fa fa-trash"></i></button>
              <button (click)="openModal(employee.usersPresenter.idUser)" data-toggle="modal"
                data-target="#exampleModalCenter" class="btn btn-warning"><i class="fa fa-user"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<br><br>

<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Actualizar Usuario</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="dialogUser">
        <div class="modal-body">
          <p>Nuevo usuario</p>
          <input formControlName="user" type="text" class="form-control" name="" id="">
          <p>Nueva clave</p>
          <input formControlName="password" type="text" class="form-control" name="" id="">
        </div>
      </form>
      <div class="modal-footer">
        <button #closeModal (click)="closeDialog()" type="button" class="btn btn-secondary"
          data-dismiss="modal">Cerrar</button>
        <button #closeModal (click)="updateUser()" type="button" class="btn btn-primary">Actualizar</button>
      </div>
    </div>
  </div>
</div>